<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.Filename}} - kota</title>
	<meta name="author" content="Dakota Walsh">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="color-scheme" content="light dark">
	<link rel="icon" sizes="any" href="/{{.Favicon}}" type="image/png">
	<link rel="stylesheet" href="/{{.CSS}}" type="text/css">
	<link rel="me" href="https://anticapitalist.party/@kota">
	<link rel="pgpkey" href="/pgp.txt">
	<style>
	</style>
</head>
<body>
<header>
	<a href="/">kota's <em class="red">“</em>memex<em class="red">”</em></a>
</header>
<main>
	<nav>
	{{ if ne .Filename "index" }}{{ .Filename }}{{ end }}
	{{ if .From }}
		<
		{{ $first := true }}
		{{ range $k, $v := .From }}{{ if not $first }},
		{{ else }}{{ $first = false }}{{ end }}
		<a href="/{{ Normalize $k }}.html">{{ $k }}</a>{{ end }}
	{{ end }}
	</nav>
	<article>
		{{.Content}}
	</article>
</main>
</body>
</html>
